body {
  /* background: linear-gradient(#9d39ff, #ffd68a, #ff3293); */
  /* background: (#740000, #000000, #740000); */
  /* background: radial-gradient(#000000, #740000, #000000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
}
* {
  margin: 0;
  padding: 0;
}
